<% if current_user %>
  <h1>New Entry</h1>

  <%= form_with(model: [@place, @entry], local: true) do |form| %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :occurred_on, class: 'form-label' %>
      <%= form.date_select :occurred_on, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit 'Create Entry', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% else %>
  <p>You must be logged in to create a new entry.</p>
<% end %>
