<% if current_user %>
  <h1>New Entry</h1>

  <%= form_with(model: [@place, @entry], local: true) do |form| %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="field">
      <%= form.label :occurred_on %>
      <%= form.date_select :occurred_on %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% else %>
  <p>You must be logged in to create a new entry.</p>
<% end %>
