<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7x1l5ijw6y5rw5TJjFwT5C7w5n5+4E5X5F6" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Tacostagram</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>
            <% if current_user %>
              <li class="nav-item">
                <span class="navbar-text">Welcome, <%= current_user.username %>!</span>
              </li>
              <li class="nav-item">
                <%= button_to 'Logout', logout_path, method: :delete, class: 'btn btn-link nav-link', form: { class: 'd-inline' } %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Login', login_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Signup', new_user_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <!-- Flash Messages -->
      <div class="flash-messages">
        <% flash.each do |key, message| %>
          <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
            <%= message %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
