<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div class="flash-messages">
      <% flash.each do |key, message| %>
        <div class="flash <%= key %>"><%= message %></div>
      <% end %>
    </div>

    <div>
      <a href="/">Home</a>
      <a href="/logout">Logout</a>
      <a href="/login">Login</a>
      <a href="/users/new">Signup</a>
    </div>

    <%= yield %>
  </body>
</html>
